body {
  overflow: hidden;
}
*{ box-sizing: border-box; }
.hidden { display: none }
.autocenter {
  position: absolute;
  left:50%; top:50%;
  transform: translate(-50%, -50%);
}

#game {
  #toggle_message:checked + *{
    transform: translateY(100%);
  }
  #message_box {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 15px 10px;
    z-index: 1;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    color: #000000;
    transition: all ease .3s;
    .close {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      color: #ffffff;
      background: #000000;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
    }
  }

  #playground {
    border-right: 0;
    border-top: 0;
    width: 100vw;
    height: 100vh;
    max-height: 100vw;
    max-width: 100vh;

    &.with_border i{
      outline: 1px solid;
    }
    i {
      display: block;
      position: relative;
      float: left;

      cursor: pointer;
    }
    .player {
      width: 100%;
      height: 100%;
    }
  }
}