@font: Helvetica, sans-serif;
@color: rgb(30,205,151);;
@bg: #222222;
@playgroundShadow: #0e0e0e;
@playgroundBorders: #000000;
@cellBg: #ffffff;

@player0: #BC2A3F;
@player1: #475C89;
@player2: #cb55a7;
@player3: #9b3ecb;
@player4: #cba200;
@player5: #25abcb;

@wall: #000000;
@exit: #44891A;

body {
  font-family: @font;
  color: @color;
  background: @bg;
}
h1 {
  text-align: center;
}
button {
  display: block;
  box-sizing: content-box;
  cursor: pointer;
  border: 2px solid @color;
  border-radius: 40px;
  font: normal 15px/20px "Advent Pro", Helvetica, sans-serif;
  color: @color;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: transparent;
  margin: 0;
  height: 20px;

  &:hover {
    color: #ffffff;
    background: @color;
  }
}
main > button {
  width: 250px;
  height: 70px;
  margin: 0 auto 20px;
  font-size: 37px;
  line-height: 70px;
}
#matchmaking {
  #games {
    width: 100%;
    border: 1px solid @color;
    border-collapse: collapse;
    margin-bottom: 20px;
    td {
      width: 33%;
      padding: 10px;
      border-bottom: 1px solid @color;
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &.join_game {
        text-align: right;
        button {
          float: right;
          width: 50%;
          padding: 0;
        }
      }
    }
  }
}
#game {
;
  button {
    display: inline-block;
  }
  #playground {
    box-shadow: 10px 13px 4px 0 @playgroundShadow;
    transition: all ease-in .3s;

    &.with_border i{
      outline: 1px solid @playgroundBorders;
    }
    i {
      background: @cellBg;
      &.exit, &.wall {
        background-size: cover;
      }
      &.wall {
        background: @wall;
      }
      &.exit {
        background: @exit;
      }
      &.selectable {
        filter: invert(20%);
      }
    }
    .player {
      width: 100%;
      height: 100%;
      &#player0 { background: @player0; }
      &#player1 { background: @player1; }
      &#player2 { background: @player2; }
      &#player3 { background: @player3; }
      &#player4 { background: @player4; }
      &#player5 { background: @player5; }
    }
  }

}