body {
  font-family: Helvetica, sans-serif;
  color: #1ecd97;
  background: #222222;
}
h1 {
  text-align: center;
}
button {
  display: block;
  box-sizing: content-box;
  cursor: pointer;
  border: 2px solid #1ecd97;
  border-radius: 40px;
  font: normal 15px/20px "Advent Pro", Helvetica, sans-serif;
  color: #1ecd97;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: transparent;
  margin: 0;
  height: 20px;
}
button:hover {
  color: #ffffff;
  background: #1ecd97;
}
main > button {
  width: 250px;
  height: 70px;
  margin: 0 auto 20px;
  font-size: 37px;
  line-height: 70px;
}
#matchmaking #games {
  width: 100%;
  border: 1px solid #1ecd97;
  border-collapse: collapse;
  margin-bottom: 20px;
}
#matchmaking #games td {
  width: 33%;
  padding: 10px;
  border-bottom: 1px solid #1ecd97;
  text-align: center;
}
#matchmaking #games td:first-child {
  text-align: left;
}
#matchmaking #games td.join_game {
  text-align: right;
}
#matchmaking #games td.join_game button {
  float: right;
  width: 50%;
  padding: 0;
}
#game button {
  display: inline-block;
}
#game #playground {
  box-shadow: 10px 13px 4px 0 #0e0e0e;
  transition: all ease-in 0.3s;
}
#game #playground.with_border i {
  outline: 1px solid #000000;
}
#game #playground i {
  background: #ffffff;
}
#game #playground i.exit,
#game #playground i.wall {
  background-size: cover;
}
#game #playground i.wall {
  background: #000000;
}
#game #playground i.exit {
  background: #44891A;
}
#game #playground i.selectable {
  filter: invert(20%);
}
#game #playground .player {
  width: 100%;
  height: 100%;
}
#game #playground .player#player0 {
  background: #BC2A3F;
}
#game #playground .player#player1 {
  background: #475C89;
}
#game #playground .player#player2 {
  background: #cb55a7;
}
#game #playground .player#player3 {
  background: #9b3ecb;
}
#game #playground .player#player4 {
  background: #cba200;
}
#game #playground .player#player5 {
  background: #25abcb;
}
